@model ProductViewModel
@{
	ViewBag.Title = "Add new product";
}
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
